
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sample App - Homomorphic Encryption</title>
    <!-- Change the localhost:5000 to a different host:port if you run client on a different host:port. 
     This sample suppose to run on dev box so localhost and default port 5000 makes sense. -->
    <link   href="http://localhost:5000/css/bootstrap.min.css" rel="stylesheet">
    <link   href="http://localhost:5000/css/jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script type="text/javascript">

  $(document).ready(function() {
    $("#btnSubmit").click(function(){
        
          var obj = new Object();
                // obj.input = document.getElementById('input_glu_level').value+","+document.getElementById('input_chl_level').value;
                obj.input = document.getElementById('votes').value;

                obj.dns = "http://server"; //Change the dns if you change the naem of service inside docker-compose file.

          var input_json = JSON.stringify(obj);
          console.log(input_json)
          $.ajax({
                    type: 'post',
                      headers: {
                                    "Accept" : "application/json",
                                    "Content-type": "application/json"
                                },
                      url: 'http://localhost:5000', //Change the url if you run client on a different host/port. Default is 5000.
                      data: input_json,
                      dataType: 'json',
                      success: function(data) {
                      $("#output_chl_level").html("Vote!!");

                      }

                 });

            });
        });

    </script>

</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <!-- <li role="presentation" class="active"><a href="#">Home</a></li> -->
                </ul>
            </nav>
        </div>


        <h1>Votes</h1>

        <a href="{{url_for('results') }}">Results</a>
        <a href="{{url_for('new') }}">New</a>
        <a href="{{url_for('index') }}">Index</a>


        <div class="jumbotron">

            <label for="votes">Choose a candidate:</label>

            <select name="votes" id="votes">
                <option value="0">Alice</option>
                <option value="1">Bob</option>
                <option value="2">Charlie</option>
                <option value="3">Daniel</option>
            </select>
            <p><a class="btn btn-lg btn-success" role="button" id="btnSubmit">Click here to check your risk level for (Type 1 Diabetes)</a></p>
            <!-- <p class="lead" id="output_chl_level"></p>
             -->
        </div>

        <footer class="footer">
        </footer>
    </div>
</body>
</html>
